.env
.env.example
.venv/
.git/
.gitignore
.idea/
component/*
.gitlab-ci.yml
scripts/*
tests/*
pylintrc
images/*
Dockerfile
DockerFile_arm64
CONTRIBUTING.md
CODE_OF_CONDUCT.md
README.md
README2.md
SECURITY.md
app.yaml
manifest.json
tox.ini